<%= turbo_frame_tag "new_todo_list" do %>
  <%= form_with model: @todo_list, url: todo_lists_path, data: { turbo: true } do |form| %>
    <% if @todo_list.errors.any? %>
      <div class="error-messages">
        <% @todo_list.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <%= form.submit %>
  <% end %>
<% end %>